* {
	font-family: Trebuchet MS;
}

body {
	background-image: url("/images/admin-background.png");
	background-size: cover;
	font-family: "Comic Sans MS";
	height: 100%;
	position: fixed;
	width: 100%;
}

#login-box {
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
	opacity: 0.8;
	width: 100%;
}