* {
	box-sizing: border-box;
	font-family: Trebuchet MS;
}

body {
	padding: 0px;
	margin: 0px;
	background-image: url("/images/volunteer-background.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

header {
	background-color: rgba(0, 0, 0, .4);
	height: 66px;
}

header * {
	color: white;
}

header .logo {
	float: left;
	height: inherit;
	margin-left: 2em;
}

header .logo-text {
	margin: 9px;
}

header ul {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

header ul li {
	float: left;
	position: relative;
}

header ul li ul {
	position: absolute;
	top: 66px;
	right: 0px;
	width: 180px;
	display: none;
}

header ul li:hover ul {
	display: block;
}

header ul li ul li {
	width: 100%;
}

header ul li ul li a {
	padding: 10px;
	background: white;
	color: #444;
}

header ul li ul li a.logout {
	color: black;
}

header ul li ul li a:hover {
	background: #d5d6d6;
}

header ul li a {
	display: block;
	padding: 21px;
	font-size: 1.1em;
	text-decoration: none;
	border: 1px solid transparent;
}

header ul li a:hover {
	background-color: #17a2b8;
	color: #000;
	transition: 0.5s ease;
}

header ul li.active a {
	background-color: #17a2b8;
	color: #000;
}

header ul li.active a:hover {
	background-color: rgba(255, 255, 255, 0.918);
	color: #000;
	transition: 0.5s ease;
}

header .menu-toggle {
	display: none;
}

.title {
	position: absolute;
	top: 13%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.title h1 {
	color: rgba(255, 255, 255, 0.911);
	font-size: 50px;
}

.button-group {
	position: absolute;
	top: 25%;
	left: 30%;
	transform: translate(-50%, -50%);
}

.btn {
	border: 1px solid #17a2b8;;
	padding: 10px 30px;
	background-color: #17a2b8;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover {
	background-color: #d5d6d6;
	border: 1px solid #d5d6d6;
	color: #000;
}

.volunteer-wrapper {
	display: flex;
	height: calc(100% -66px);
}

.volunteer-wrapper .left-sidebar {
	background-color: rgba(0, 0, 0, .4);
	position: fixed;
	width: 250px;
	top: 0.2%;
	left: 0;
	bottom: 0;
	padding-top: 50px;
	margin-top: 66px;
}

.volunteer-wrapper .left-sidebar a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
}

.volunteer-wrapper .left-sidebar h1 {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 400;
	margin: 0;
	font-size: 25px;
	text-transform: uppercase;
}

.volunteer-wrapper .left-sidebar a:hover {
	color: #fff;
	margin-left: 20px;
	transition: 0.4s;
}